/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 70px;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

a {
  color: rgb(31, 214, 255);
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  /* max-width: 950px; */
  margin: 0 auto;
  padding: 10px 50px;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  background: #EF233C;
  color: white;
  padding: 10px;
  display: inline-block;
}

/* Header and Footer
-------------------------*/

header {
  position: relative;
  padding-top: 50px;
}

header,
footer {
  background: linear-gradient(160deg, #0d1068,
   #3f0285 65%);
  color: #b3b3b3;
}

/* header */

header h1,
header h2 {
  color: #EDF2F4;
}

#flex-header {
  display: flex;
	justify-content: center;
	height: 400px;
	align-items: center;
}

#left-header {
  flex: 2;
  max-width: 450px;
}

#right-header {
  flex: 1;
  padding: 0 0 0 20px;;
  max-width: 450px;
}

#header-img {
  max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	opacity: 0.7;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* footer */

footer {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

/* Navigation */

.nav {
  height: 50px;
  width: 100%;
  background: linear-gradient(180deg, #0d1068,
  #3f0285 95%);
  position: relative;
  text-align: center;
}

.nav > .nav-header {
  display: inline;

}

/* .nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(52, 9, 205);
  padding: 10px;
} */

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 14px;
  text-decoration: none;
  color: #13bacd;
}
.nav .nav-links .active{
  color: #d7e4ee;
}
.nav > .nav-links > a:hover {
  background-color: rgba(16, 112, 223, 0.3);
}

.nav > #nav-check {
  display: none;
}
/* 
nav {
  text-align: center;
  background: linear-gradient(rgb(213, 221, 236), 
  rgba(255, 255, 255, 1));
  /* background: white; */
  /* position: fixed; */
  /* top: 0;
  width: 100%;
  white-space: nowrap;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

nav a.active {
  border: 2px;
  color: #2B2D42;
} */ 

/* About
-------------------------*/
#about-section {
  /* background: url(https://picsum.photos/600/800?image=931) no-repeat fixed;
  background-size: cover; */
  background: white;
  display: flex;
  justify-content: center;
}
#about {
  flex: 2;
  max-width: 900px;  
  /* border: 1px solid red; */
  padding-right: 20px;
}
#about-sidebar {
  padding-top: 50px;
  flex: 1;
  max-width: 200px;
  /* border: 1px solid olivedrab; */
}
#about-sidebar img {
  padding-top: 15px;
  max-width: 100%;
  max-height: 100%;
}

/* iOS Apps
-------------------------*/
#ios-header {
  /* padding: 20px 0 20px 50px; */
  color: rgb(245, 245, 245);
  margin-bottom: 0;
}
.ios-section {
  background: rgb(14, 14, 14);
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.ios {
  flex: 2;
  max-width: 400px;  
  /* border: 1px solid red; */
  padding-right: 20px;
  color: rgb(180, 180, 180);
}
.ios-sidebar {
  flex: 1;
  max-width: 200px;
  
  /* border: 1px solid olivedrab; */
}
.ios-sidebar img {
  max-width: 100%;
  max-height: 100%;
}

/* Projects
-------------------------*/

.app-img {
  width: 75%;
}

.work {
  background: #EDF2F4;
}

h3~p {
  margin: 0;
}

.job-description {
  margin-bottom: 25px;
}

.job-description p:first-of-type {
  margin-top: 0;
}

/* Education
-------------------------*/
/* #edu-header { */
  /* padding: 20px 0 20px 50px; */
  /* color: rgb(0, 0, 0);
  margin-bottom: 20px;;
  background-color: rgba(0, 128, 128, 0) */
/* } */
.edu-section {
  /* background: rgb(14, 14, 14); */
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  background: linear-gradient(90deg rgba(229, 231, 235, 0.8),rgba(19, 1, 135, 0.893));
}
.edu {
  flex: 1;
  max-width: 400px;  
  /* border: 1px solid red; */
  padding-right: 20px;
  color: rgb(31, 31, 31);
}
.edu-sidebar {
  max-width: 200px;
  
  /* border: 1px solid olivedrab; */
}

/* .education {
  padding-left: 50px;
  background: linear-gradient(rgba(214, 217, 222, 0.8),
   rgba(140, 140, 140, 0.803)), url(https://picsum.photos/600/800?image=931) no-repeat fixed;
  background-size: cover;
  color: #2B2D42;
} */

p+h3 {
  margin-top: 30px;
}


/* Web projects */

#projects {
  background: rgb(0, 0, 0);
}

.spacer {
  height: 20px;
}
.web-projects-flex {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  flex-flow: row wrap;
}

.web-projects-flex > div {
  background-color: white;
  border: 2px solid;
  border-color: rgba(174, 180, 202, 0.575);;
  /* background-color: blue; */
  border-radius: 6px;
  margin: 0 auto;
  font-size: 20px;
  width: 400px;;
  height: 400px;
  text-align: center;
  color: rgb(6, 16, 112);
  box-shadow: 8px 8px 2px rgba(165, 109, 254, 0.495);
}

/* Media Queries */
@media (max-width: 760px) {
  #header-img {
    display: none;
  }
  #about-sidebar img {
    display: none;
  }

  /* #right-header{
    visibility: collapse;
  } */
}

@media (min-width: 800px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}

@media (max-width: 799px) {

  .profile-img {
    width: 200px;
  }
  .app-img {
    width: 30%;
  }
}

/* @media (max-width: 460px) {

  header {
    position: relative;
    padding-top: 250px;
  }
} */

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 50px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(0, 9, 104);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 10;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(60vh - 50px);
    overflow-y: auto;
  }

  h1 {
    font-size: 30px;
    margin-top: 0;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
  }
}